extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Adrien Abbassi Reyes

        
        p.about Full Stack JavaScript Developer


        .about-bio

          
          p Unsure on what path I should have taken, I have been juggleling between 2 of my passion to make a living. With more then 10 years in sales I have finaly decided to make my biggest passion, my carreer. I have studied business and management and computer science and I beleive that the skills I have acquire in Sales only made me a more competent programmer.


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li +4522142674
          li: a.email(href="mailto:adrien.ab.reyes@gmail.com") Adrien.ab.reyes@gmail.com

        
        a.btn-link.linkedIn(href='https://www.linkedin.com/in/adrien-abbassi-9aa05817b/' title="LinkedIn") LinkedIn
        a.btn-link.gitHub(href='https://github.com/AAdrien-3107' title= "GitHub") GitHub
        a.btn-link.twitter(href='https://twitter.com/adrienA31126846' title= "Twitter") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back