extends layout.pug

block content

  article.portfolio-intro

     
    h1 Hey, Potential Employers

     
    p In this project, I had to create a portfolio to showcase my previous projects for my Tech degree at TeamTreeHouse. The purpose of this project is to work on the backend and the frontend and connect them by doing my portfolio. And here it is!  


  article.portfolio-project-thumbs
    .projects-box.box.grid


     each project in projects


      .cell
      
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`/static/${project.image_urls[0]}`)
            h5= `${project.project_name}`

